{% extends "base.html" %}
{%  load static %}


{% block content %}



<!-- Page Banner Area Start -->
<div id="page-banner-area" class="page-banner-area section">
    <div class="container">
        <div class="row">
            <div class="page-banner-title text-center col-xs-12">
                <h2>contact</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->

<!-- Contact Area Start -->
<div id="contact-area" class="contact-area section pb-90 pt-120">
    <div class="container">
        <div class="row">
            <!-- Contact Map -->
            <div id="map" style="width:100%;height:500px"></div>

            <script>
            function myMap() {
              var myCenter = new google.maps.LatLng(37.165345,28.371214,1211);
              var mapCanvas = document.getElementById("map");
              var mapOptions = {center: myCenter, zoom: 5};
              var map = new google.maps.Map(mapCanvas, mapOptions);
              var marker = new google.maps.Marker({position:myCenter});
              marker.setMap(map);
            }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOQkKlLIk6n6Y5hF_KXq8AWed-8ejCRcc
&callback=myMap"></script>
            <!-- Contact Info -->
            <div class="col-md-4 col-sm-5 col-xs-12 mb-30">
                <div class="contact-info">
                    <h4></h4>
                    <h4>Contact details</h4>
                    <p><span>address: </span> 121 King Street, Melbourne Victoria 3000 Australia</p>
                    <p><span>phone: </span> +61 3 8376 6284</p>
                    <p><span>email: </span> <a href="#">info@domain.com</a></p>
                    <p><span>skype: </span> <a href="#">suparsport333</a></p>
                    <p><span>facebook: </span> <a href="#">www.facebook.com/suparsport</a></p>
                    <p><span>twitter: </span> <a href="#">www.twitter.com/suparsport</a></p>
                    <p><span>website: </span> <a href="#">info@domain.com</a></p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact Area End -->



{% endblock %}