{% extends "base.html" %}
{% load static %}

{% block content %}



<!-- Hero Area Start -->
<div id="hero-area" class="hero-area section">
    <!-- Hero Slider Start -->
    <div class="hero-slider">
        <!-- Single Hero Item -->
        <div class="hero-item">
            <!-- Hero Slider Image -->

            <img src="{%  static 'img/hero/ofsayt.jpg' %}" alt="">

            <div class="container">
                <div class="row">
                    <!-- Hero Slider Content -->
                    <div class="hero-content col-md-10 col-xs-12">
                        <h1>everthing about  <span>football</span></h1>
                    </div>
                </div>
            </div>
        </div>

    <!---- Hero Slider End ---->
</div>
<!-- About Area Start -->
<div id="about-area" class="about-area section pb-120 pt-120">
    <div class="container">
        <div class="row">
            <!-- About Image -->
            <div class="about-image col-md-5 col-xs-12">
                <img height="250" width="150" src="{%  static 'img/hero/ofsayt.jpg' %}" alt="">
            </div>
            <!-- About Content -->
            <div class="about-content col-md-7 col-xs-12">
                <h4>ABOUT US</h4>
                <h2>WELCOME TO  <span>OFFSIDE</span></h2>
                <p>The platform that you can get informations about footbal news , point table and fixture of some European leagues.
                You can shop any product of your favourite team as weel !!! </p>

            </div>
        </div>
    </div>
</div>
<!-- About Area End -->




{% endblock %}
